.view-status-dashboard .last-update {
  background: #cce885;
  border-radius: 6px;
  color: green;
  font-weight: 400;
  padding: 8px 15px;
  margin: 0 0 1em 0;
}

.view-status-dashboard p.last-update {
  padding-left: 35px;
  background: url("../icons/check.svg") no-repeat left 10px center, #cce885;
  background-size: 15px 15px;
}

.view-status-dashboard .available-security-updates {
  background: #fff5f5;
  border-radius: 6px;
  color: #f26e6e !important;
  font-weight: 400;
  padding: 8px 15px;
}

.view-status-dashboard .available-feature-updates {
  background: #ffface;
  border-radius: 6px;
  color: #ae9e0c;
  font-weight: 400;
  padding: 8px 15px;
}

.view-status-dashboard .module-list {
  margin-top: 0;
  margin-bottom: 1em;
  border: none;
  background: #eceffa;
  border-radius: 6px;
  color: #1c3dbb !important;
  font-weight: 400;
}

.view-status-dashboard  .views-field-sitename li {
  list-style: none;
  background: #bff3e0;
  border-radius: 6px;
  color: #079172 !important;
  display: inline-block;
  margin: 0 0.25em 0.25em 0;
  padding: 0.25em;
  font-size: 0.75em;
}

.view-status-dashboard .available-security-updates {
  margin-top: 0;
  margin-bottom: 1em;
  border: none;
  background: #fff5f5;
  border-radius: 6px;
  color: #f26e6e !important;
  font-weight: 400;
}

.view-status-dashboard .available-security-updates summary {
  padding-left: 25px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: url("../icons/error.svg") no-repeat left center;
  background-size: 15px 15px;
  font-weight: 400;
  color: #f26e6e !important;
  list-style: revert;
}

.view-status-dashboard .available-security-updates summary:before {
  content: none;
}

.view-status-dashboard .available-security-updates summary:after {
  content: none;
}

.view-status-dashboard .available-feature-updates {
  margin-top: 0;
  margin-bottom: 1em;
  border: none;
  background: #ffface;
  border-radius: 6px;
  color: #ae9e0c;
  font-weight: 400;
}

.view-status-dashboard .available-feature-updates summary {
  padding-left: 25px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: url("../icons/warning.svg") no-repeat left center;
  background-size: 15px 15px;
  font-weight: 400;
  color: #ae9e0c !important;
  list-style: revert;
}

.view-status-dashboard .available-feature-updates summary:before {
  content: none;
}

.view-status-dashboard .available-feature-updates summary:after {
  content: none;
}

.view-status-dashboard .available-security-updates *:not(summary) {
  color: #f26e6e;
  font-weight: 400;
  text-transform: none;
}

.view-status-dashboard .available-feature-updates *:not(summary) {
  color: #ae9e0c;
  font-weight: 400;
  text-transform: none;
}
