.menu-item__status_dashboard-dashboard .toolbar-icon-status-dashboard-dashboard::before {
  -webkit-mask-image: url("../icons/table.svg") !important;
  mask-image: url("../icons/table.svg") !important;
}
