body {
  background-color: #fafafa !important;
}

.last-update {
  background: #cce885;
  border-radius: 6px;
  color: green;
  font-weight: 400;
  font-size: 12px;
  padding: 8px 15px;
  margin: 0 0 1em 0;
}

p.last-update {
  padding-left: 35px;
  background: url("../icons/check.svg") no-repeat left 10px center, #cce885;
  background-size: 15px 15px;
}

.available-security-updates {
  background: #fff5f5;
  border-radius: 6px;
  color: #f26e6e !important;
  font-weight: 400;
  font-size: 12px;
  padding: 8px 15px;
}

.available-feature-updates {
  background: #ffface;
  border-radius: 6px;
  color: #ae9e0c;
  font-weight: 400;
  font-size: 12px;
  padding: 8px 15px;
}

.region-content {
  background: #fff;
  padding: 35px 30px;
  border-radius: 14px;
}

.status-dashboard-dashboard thead th {
  text-transform: none;
  color: #5f6868;
  border: none;
  background: #fafafa;
  font-weight: 500;
  font-size: 14px;
  padding: 21px 24px 21px 0;
}

.status-dashboard-dashboard thead th:last-child {
  border-radius: 0 6px 6px 0;
}

.status-dashboard-dashboard thead th:first-child {
  border-radius: 6px 0 0 6px;
  padding: 21px 24px;
}

.status-dashboard-dashboard thead > tr {
  border-bottom: none;
}

.status-dashboard-dashboard tbody tr,
.status-dashboard-dashboard tbody tr:hover,
.status-dashboard-dashboard tbody tr:focus {
  background: none;
}

.status-dashboard-dashboard tbody td {
  padding: 20px 24px 10px 0;
  font-size: 12px;
  vertical-align: top;
}

.status-dashboard-dashboard tbody td span {
  display: inline-block;
}

.status-dashboard-dashboard tbody td:first-child {
  padding: 20px 24px;
}

.status-dashboard-dashboard table {
  table-layout: auto;
}

.status-dashboard-dashboard table thead th:nth-child(3) {
  width: 300px;
}

.status-dashboard-dashboard table thead th:nth-child(5) {
  width: 400px;
}

.status-dashboard-dashboard .module-list {
  margin-top: 0;
  margin-bottom: 1em;
  border: none;
  background: #eceffa;
  border-radius: 6px;
  color: #1c3dbb !important;
  font-weight: 400;
  font-size: 12px;
}

.status-dashboard-dashboard .dashboard-tags {
  background: #bff3e0;
  border-radius: 6px;
  color: #079172 !important;
  display: inline;
}

.status-dashboard-dashboard .available-security-updates {
  margin-top: 0;
  margin-bottom: 1em;
  border: none;
  background: #fff5f5;
  border-radius: 6px;
  color: #f26e6e !important;
  font-weight: 400;
  font-size: 12px;
}

.status-dashboard-dashboard .available-security-updates summary {
  padding-left: 25px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: url("../icons/error.svg") no-repeat left center;
  background-size: 15px 15px;
  font-weight: 400;
  color: #f26e6e !important;
  list-style: revert;
}

.status-dashboard-dashboard .available-security-updates summary:before {
  content: none;
}

.status-dashboard-dashboard .available-security-updates summary:after {
  content: none;
}

.status-dashboard-dashboard .available-feature-updates {
  margin-top: 0;
  margin-bottom: 1em;
  border: none;
  background: #ffface;
  border-radius: 6px;
  color: #ae9e0c;
  font-weight: 400;
  font-size: 12px;
}

.status-dashboard-dashboard .available-feature-updates summary {
  padding-left: 25px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: url("../icons/warning.svg") no-repeat left center;
  background-size: 15px 15px;
  font-weight: 400;
  color: #ae9e0c !important;
  list-style: revert;
}

.status-dashboard-dashboard .available-feature-updates summary:before {
  content: none;
}

.status-dashboard-dashboard .available-feature-updates summary:after {
  content: none;
}

.status-dashboard-dashboard .available-security-updates *:not(summary) {
  color: #f26e6e;
  font-weight: 400;
  font-size: 12px;
  text-transform: none;
}

.status-dashboard-dashboard .available-feature-updates *:not(summary) {
  color: #ae9e0c;
  font-weight: 400;
  font-size: 12px;
  text-transform: none;
}
