.menu-item__views_view\:views-status_dashboard-page .toolbar-icon-views-viewviews-status-dashboard-page::before {
  -webkit-mask-image: url("../icons/table.svg") !important;
  mask-image: url("../icons/table.svg") !important;
}
